In [1]:
print('Hello World')

Hello World

In [3]:
print("Indra Prakash")

Indra Prakash

# Heading

## Heading

### Heading

#### Heading

##### Heading

This was for practice and Understand Python

In [1]:
print(5)

5

In [2]:
print(2.5)

2.5

Data types
1. int- Integer values eg-7,12,4,5 etc
2. Float-decimal values eg: 1.5,2.5,6.5 etc
3. boolean- True or False
4. string

In [3]:
print('India','America','Russia','Srilanka')

India America Russia Srilanka

In [4]:
print('India','America','Russia','Srilanka', sep='/')

India/America/Russia/Srilanka

In [5]:
print('India','America','Russia','Srilanka', sep='-')

India-America-Russia-Srilanka

In [6]:
print('India','America','Russia','Srilanka', sep='*')

India*America*Russia*Srilanka

In [7]:
x=50
print(x)

50

In [8]:
# Adding value with Variable
y=10
y=y+10
print(y)

20

In [9]:
# subtraction with variable
y=y-5
print(y)

15

In [10]:
x=10
x=x*10
print(x)

100

In [11]:
#multiple variable
a=100
b=50
print(a+b) # Addition

150

In [12]:
a-b

50

In [13]:
a*b

5000

In [14]:
a,b,c=10,20,30
print(a)
print(b)
print(c)

10
20
30

In [15]:
a=100
print(a)
print(type(a))

100
<class 'int'>

In [16]:
b=10.5
print(b)
print(type(b))

10.5
<class 'float'>

In [17]:
x=int(input('Enter a number: '))
print(x)

Enter a number: 10
10

In [20]:
y=str(input('Enter a name: '))
print(y)

Enter a name: Indra
Indra

In [21]:
print(type(y))

<class 'str'>

## Operators

In [22]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a//b)
print(a**b)

13
7
30
1
3
1000

In [23]:
a=25
print(a**(1/2))

5.0

In [24]:
a=125
print(a**(1/3))

5.0

# Relational Operators

In [25]:
a=100
b=50
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
True
False

## Membership Operators

In [26]:
s='Python'
print('y' in s)
print('h' in s)
print('z' in s)

True
True
False

# List

In [27]:
list=['Indra',25,2.5,'Delhi']
print(list)

['Indra', 25, 2.5, 'Delhi']

In [28]:
#length of the List
print(len(list))

4

In [29]:
list[1]

25

In [30]:
list[0]

'Indra'

In [31]:
list[2]

2.5

In [32]:
list[3]

'Delhi'

In [33]:
list[-1]

'Delhi'

In [34]:
list[0]=50
print(list)

[50, 25, 2.5, 'Delhi']

In [35]:
# slicing: Accessing the range of values from the list    #list[start:End]
print(list[1:3])

[25, 2.5]

In [36]:
print(list[0:2])

[50, 25]

In [37]:
# Reversing the List
print(list[::-1])

['Delhi', 2.5, 25, 50]

# Tuples

In [38]:
tup=('street','sagar',254)

In [39]:
print(tup)

('street', 'sagar', 254)

In [40]:
tup[0]

'street'

In [41]:
#slicing in tuples
print(tup[1:])

('sagar', 254)

In [42]:
tup[:2]

('street', 'sagar')

In [43]:
#deleting tuple
del(tup)

In [44]:
print(tup)

NameError: name 'tup' is not defined

## Set

In [45]:
a={4,3,2,1}
print(a)

{1, 2, 3, 4}

In [46]:
a.add(50)
print(a)

{1, 2, 3, 4, 50}

# Dictionary

In [47]:
# dictionary should be in Key value pairs
d={'name':'Suraj','age':30}
d

{'name': 'Suraj', 'age': 30}

In [48]:
print(d['name'])

Suraj

In [49]:
print(d['age'])

30

In [50]:
#Update the Dictionary
d['age']=40
d

{'name': 'Suraj', 'age': 40}

In [51]:
d.items()

dict_items([('name', 'Suraj'), ('age', 40)])

In [52]:
d.keys()

dict_keys(['name', 'age'])

In [53]:
d.values()

dict_values(['Suraj', 40])

# Statements

In [54]:
#if
#if else
#elif

In [55]:
#if
x=int(input('Enter a Number: '))

if x==100:
    print("You Entered my favourite number")

Enater a Number: 50

In [57]:
#if else
x=int(input('Enter a Number: '))

if x==100:
    print("You Entered my favourite number")
else:
    print('This is not my favorite number')

Enter a Number: 100
You Entered my favourite number

In [60]:
#elif Statement
a=int(input('Enter teh value of a: '))
b=int(input('Enter teh value of b: '))

if a<b:
    print('b is Greater')
elif a==b:
    print('a is equal to b')
else:
    print('a is greater')

Enter teh value of a: 100
Enter teh value of b: 100
a is equal to b

# For Loop

In [62]:
list=['Indra','raju','Sai',"john"]

In [64]:
for i in list:
    print(i)

Indra
raju
Sai
john

In [67]:
cars=['BMW','Audi','Mercez','Volvo']
for i in cars:
    print(i)

BMW
Audi
Mercez
Volvo

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [70]:
for i in range(25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# While Loops

In [1]:
i=0

while i<=5:
    print(i)
    i+=1  # i=i+1

0
1
2
3
4
5

In [2]:
# While Loop with Continue Statement
# Prints all the element till condition gets False and Skip that oif condition value is met

i=0
while i<=7:
    i+=1
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8

In [3]:
# while loop with break Statement
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [4]:
# While Loop with Pass Statement

i=0
str1='Cambridge'

while i<len(str1):
    if str1[i]=='g':
        i=i+1
        pass
    print('Present letter: ',str1[i])
    i=i+1

Present letter:  C
Present letter:  a
Present letter:  m
Present letter:  b
Present letter:  r
Present letter:  i
Present letter:  d
Present letter:  e

# Functions

In [5]:
# Defining Function
def func1():
    print('Hello I am a Function')
    print('I am Ready')

In [6]:
# Calling Function
func1()

Hello I am a Function
I am Ready

In [8]:
def func2(fname):
    print('Good Morning ! Welcome to the session: '+fname)

In [9]:
func2('Indra Prakash')

Good Morning ! Welcome to the session: Indra Prakash

In [10]:
def add(a,b):
    return a+b

In [11]:
add(5,4)

9

In [16]:
def func1(a, b):
    print(a+b)

In [17]:
func1(5,4)

9

# lambda Function

In [12]:
# Add 10 to the argument a
x=lambda a : a+10
print(x(20))

30

In [18]:
# Summarizing the argument a,b
x=lambda a,b: a+b
print(x(50,20))

70

In [19]:
x=lambda a,b,c: a+b+c
print(x(50,20,30))

100

In [20]:
x=lambda a,b: a-b
print(x(50,40))

10

In [21]:
x=lambda a,b: a*b
print(x(50,40))

2000